<a href="https://colab.research.google.com/github/kaaath-i/european-airlines-analysis/blob/main/european_airlines_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data

In this project I will be working on a Kaggle dataset containing information about major european airport routes.

In [ ]:
!pip install kagglehub --upgrade

Requirement already satisfied: kagglehub in /usr/local/lib/python3.12/dist-packages (0.3.13)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (from kagglehub) (2.32.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.12/dist-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests->kagglehub) (2025.10.5)

In [13]:
import kagglehub

path = kagglehub.dataset_download("lunthu/european-airlines-routes")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'european-airlines-routes' dataset.
Path to dataset files: /kaggle/input/european-airlines-routes

For the analysis, I load the dataset into a pandas dataframe. For a quick overview I load the first few five rows.

In [47]:
import pandas as pd
import os

csv_path = os.path.join(path, "europe_air_routes.csv")
df = pd.read_csv(csv_path)

df.head()

,id,iata_from,iata_to,price,day1,day2,day3,day4,day5,day6,...,departure_city,departure_country,departure_ICAO,departure_latitude,departure_longitude,departure_altitude,arrival_ICAO,arrival_latitude,arrival_longitude,arrival_altitude
0,46316,TZL,DTM,70,no,yes,no,yes,no,yes,...,Tulza,Bosnia and Herzegovina,LQTZ,44.458698,18.7248,784,EDLW,51.518299,7.612240,425.0
1,46319,TZL,FMM,30,yes,upcoming,upcoming,yes,yes,upcoming,...,Tulza,Bosnia and Herzegovina,LQTZ,44.458698,18.7248,784,EDJA,47.988800,10.239500,2077.0
2,46322,TZL,MLH,40,no,yes,no,yes,no,yes,...,Tulza,Bosnia and Herzegovina,LQTZ,44.458698,18.7248,784,LFSB,47.590000,7.529167,885.0
3,77197,TZL,BER,40,upcoming,no,upcoming,no,upcoming,no,...,Tulza,Bosnia and Herzegovina,LQTZ,44.458698,18.7248,784,EDDB,52.380001,13.522500,157.0
4,46323,TZL,MMX,90,no,upcoming,no,upcoming,no,upcoming,...,Tulza,Bosnia and Herzegovina,LQTZ,44.458698,18.7248,784,ESMS,55.536305,13.376198,236.0

# Analysis

In the first step, I examine the dataset's columns, data types and values to get a more detailed overview.

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18111 entries, 0 to 18110
Data columns (total 33 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            18111 non-null  int64
 1   iata_from                     18111 non-null  object
 2   iata_to                       18111 non-null  object
 3   price                         18111 non-null  int64
 4   day1                          18111 non-null  object
 5   day2                          18111 non-null  object
 6   day3                          18111 non-null  object
 7   day4                          18111 non-null  object
 8   day5                          18111 non-null  object
 9   day6                          18111 non-null  object
 10  day7                          18111 non-null  object
 11  flights_per_day               18111 non-null  object
 12  common_duration               18111 non-null  int64
 13  flights_per_week              18111 non-null  int64
 14  first_flight                  18111 non-null  object
 15  last_flight                   18111 non-null  object
 16  airlineroutes                 18111 non-null  object
 17  arrival_airport_country_code  18108 non-null  object
 18  arrival_airport_name          18111 non-null  object
 19  arrival_airport_city_name     18111 non-null  object
 20  arrival_airport_city_name_en  18111 non-null  object
 21  arrival_airport_country       18111 non-null  object
 22  arrival_airport_no_routes     18111 non-null  int64
 23  departure_city                18111 non-null  object
 24  departure_country             18111 non-null  object
 25  departure_ICAO                18111 non-null  object
 26  departure_latitude            18111 non-null  float64
 27  departure_longitude           18111 non-null  float64
 28  departure_altitude            18111 non-null  int64
 29  arrival_ICAO                  18017 non-null  object
 30  arrival_latitude              18017 non-null  float64
 31  arrival_longitude             18017 non-null  float64
 32  arrival_altitude              18017 non-null  float64
dtypes: float64(5), int64(6), object(22)
memory usage: 4.6+ MB

Then I want to find the cities with the most departures. In my case, I take a look at the Top 10.

In [34]:
departure_cities = df['departure_city'].value_counts()
top_departure = departure_cities.head(10)
top_departure

departure_city
London       788
Istanbul     470
Paris        459
Moscow       310
Frankfurt    285
Amsterdam    267
Rome         266
Munich       229
Madrid       226
Barcelona    224
Name: count, dtype: int64

I then do the same for the arrival cities.

In [53]:
arrival_cities = df['arrival_airport_city_name'].value_counts()
top_arrival = arrival_cities.head(10)
top_arrival

arrival_airport_city_name
London        528
Paris         308
Milan         289
Brussels      207
Istanbul      187
Rome          174
Frankfurt     157
Amsterdam     156
Barcelona     153
Dusseldorf    152
Name: count, dtype: int64

Then I want to find out the average flight time for european flight routes.

In [49]:
average_flight_time = df['common_duration'].mean()
print(f"The average flight time is {int(average_flight_time)} minutes.")

The average flight time is 188 minutes.

In [52]:
df['common_duration'].describe()

count    18111.000000
mean       188.270554
std        132.300212
min         20.000000
25%        110.000000
50%        150.000000
75%        220.000000
max       1120.000000
Name: common_duration, dtype: float64